<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.alichtman.open_tab_tracker</string>
    <key>ProgramArguments</key>
    <array>
    <string>{PATH_TO_OPEN_TAB_TRACKER_EXECUTABLE}</string>
    <string> --add_datapoint</string>
    </array>
    <key>StartInterval</key>
    <integer>2</integer>
</dict>
</plist>
